---
import MainLayout from "../layouts/MainLayout.astro";
import Contact from "../components/sections/Contact.astro";
const myWebsites = await Astro.glob("./websiteProjects/*.md");
const screenshots = await Astro.glob("./screenshots/*.md");
import WebsiteCard from "../components/WebsiteCard.astro";
import ExpandOnWebsitesCard from "../components/ExpandOnWebsitesCard.astro";
import LeftPanel from "../layouts/LeftPanel.astro";
import Footer from "../components/Footer.astro";
import TableContents from "../components/sections/TableContents.astro";
---

<MainLayout>
  <div id="homepage-wrapper" class="">
    <!-- EXPLAIN  -->
    <LeftPanel />

    <!-- SHOWS OF VARIOUS STYLES -->
    <div
      id="RIGHT-PANEL"
      class="bg- medium 2xl:h-screen h-full md:absolute relative right-0 md:w-3/5 w-full md:overflow-y-scroll overflow-x-hidden"
    >
      <div id="right-panel-wrapper" class="border-l-2 border-r-2 border-black">
        <div id="right-panel-container" class="bg rounded-bl mr-2 md:p-5">
          <div id="myWebsites" class="p-5">
            <div id="CONTAINER" class="p-5 opacity-65 mt-[75px]">
              <div class="pb-2 mt-5">
                <h1 class="text-4xl text-gray-700">explore select templates</h1>
                <p>
                  websites inspired by desert colors, and palm springs modernism
                  styles... from someone who's lived the desert life for a near
                  decade!
                </p>
              </div>
            </div>

            <!-- WHAT ALL BUILDS OFFER: about, services, contact, what every small business needs in  a site vvvv -->
            <div
              id="grid"
              class="bg- mx-5 px-5 grid 2xl:grid-cols-2 gap-5 my- bg-"
            >
              {
                myWebsites.map((work) => (
                  <WebsiteCard
                    no={work.frontmatter.no}
                    image={work.frontmatter.image.url}
                    alt={work.frontmatter.image.alt}
                    url={work.url}
                    testItem1={work.frontmatter.testItem1}
                    language={work.frontmatter.language}
                    backend={work.frontmatter.backend}
                  />
                ))
              }
            </div>
            <!-- WHAT ALL BUILDS ALSO CAN OFFER, ELABORATE ON THINGS vvvv -->
            <TableContents />
          </div>
          <div id="expand-on-my-websites-wrapper" class="bg- pb-5 px-5 mx-5">
            <div
              id="expand-on-my-websites-card"
              class="grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 gap-x-1 pl-2 pb-5"
            >
              {
                screenshots.map((help) => (
                  <ExpandOnWebsitesCard
                    no={help.frontmatter.no}
                    image={help.frontmatter.image.url}
                    alt={help.frontmatter.image.alt}
                    url={help.url}
                    testItem1={help.frontmatter.testItem1}
                    language={help.frontmatter.language}
                    backend={help.frontmatter.backend}
                  />
                ))
              }
            </div>
          </div>
        </div>
        <Contact />
        <Footer />
      </div>
    </div>
  </div>
</MainLayout>
