---
export interface Props {
  title: string;
  item1: string;
  item2: string;
  item3: string;
  item4: string;
  item5: string;
}

const { item1, item2, item3, item4, item5 } = Astro.props as Props;
---

<section
  id="subjects-banner-wrapper"
  class="sticky top-0 z-10 w-full bg-mutedTeal border-b-2 border-black mt-[155px]"
>
  <div id="how-it-works-wrapper" class="p-1">
    <div id="how-it-works-container" class="bg-mutedTeal">
      <div id="sq" class="bg- flex items-center space-x-2">
        <div id="title-banner" class="bg-">
          <!-- <h2 class="text-xl font- py-2 md:mx-5 md:px-5">{title}</h2> -->
          <img
            src="https://dl.dropboxusercontent.com/scl/fi/xzfhk2jletg2hqwc9ecks/coyote.png?rlkey=xtfjf7plvgb8y3fjxdij0vdt5&st=run4yzui&dl=0"
            id="img-icon"
            alt=""
            width="85"
            class="opacity-85 py-2"
          />
        </div>
        <div id="nav-items" class="mt-5 pt-5 font-bold">
          <span class="px-3 pb-1 sq-styles-teal text-teal bg-">
            <a href="/#section1">
              {item1}
            </a>
          </span>
          <span class="px-3 pb-1 sq-styles-teal text-teal bg-coral">
            <a href="/#section2">
              {item2}
            </a>
          </span>
          <span class="px-3 pb-1 sq-styles-teal bg-teal">
            <a href="/#section3">
              {item3}
            </a>
          </span>
          <span class="px-3 pb-1 sq-styles-teal bg-">
            <a href="/#section4">
              {item4}
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
