---
export interface Props {
  title: string;
  item1: string;
  item2: string;
  item3: string;
  item4: string;
}

const { title, item1, item2, item3, item4 } = Astro.props as Props;
---

<!-- TODO: CHANGE HOW IT WORKS COMP TO BUILD AUTH BANNER SHOWCASING SITES??  -->
<section
  id="subjects-banner-wrapper"
  class="sticky top-0 z-10 w-full bg-parchment border-b border-teal opacity-8x0 md:p-5 p-1 mt-[155px] mb-[50px]"
>
  <div id="title-banner" class="flex justify-center mt">
    <h2 class="text-xl font- py-2 md:mx-5 md:px-5">{title}</h2>
  </div>
  <!--  -->
  <div id="how-it-works-wrapper" class="p-1">
    <div id="how-it-works-container" class="flex justify-center bg-test1">
      <div id="sq" class="flex space-x-6 2xl:px-3 px-2 py-2 m-1">
        <span class="px-3 pb-1 sq-styles-teal text-teal bg-lavender">
          <a href="/#section1">
            {item1}
          </a>
        </span>
        <span class="px-3 pb-1 sq-styles-teal text-teal bg-coral">
          <a href="/#section2">
            {item2}
          </a>
        </span>
        <span class="px-3 pb-1 sq-styles-teal bg-teal">
          <a href="/#section3">
            {item3}
          </a>
        </span>
        <span class="px-3 pb-1 sq-styles-teal bg-munsell">
          <a href="/#section4">
            {item4}
          </a>
        </span>
      </div>
    </div>
  </div>
</section>
