---
import Footer from "../components/Footer.astro";
import LeftPanel from "../layouts/LeftPanel.astro";
import BackBtn from "../components/BackBtn.astro";
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;
---

<MainLayout>
  <div class="bg-test1">
    <LeftPanel />
  </div>
  <div id="markdown-post" class="bg-papaya text-lg 2xl:p-5">
    <div
      id="right-side-markdown-container"
      class="h-screen md:absolute relative right-0 md:w-3/5 w-full overflow-y-scroll overflow-x-hidden 2xl:p-5 md:p-3"
    >
      <section class="bg- md:mx-5 mx-5 p-5">
        <div class="p-5 mr -5">
          <div id="" class="bg-">
            <div class="mt-5 pt-5">
              <h1 class="text-7xl w-3/4 bg-">
                {frontmatter.title}
              </h1>
              <p>{frontmatter.testItem1}</p>
              <div id="images-wrapper" class="bg-">
                <a
                  href={frontmatter.websiteUrl}
                  target="_blank"
                  rel="noreferrer"
                >
                  <img
                    id="PRIMARY-image"
                    src={frontmatter.image.url}
                    alt=""
                    class="opacity-80 border border-rosyBrown drop-shadow-3xl rounded mt-[50px] col-span-2"
                  />
                </a>
              </div>
            </div>
          </div>
          <div id="website-content" class="pl-3 pr-5 mr-5 dropshadow-3xl bg-">
            <div id="elaborate-theme">
              <h1 class="font-bold">
                Elaborate on Theme:{frontmatter.elaborateTheme}
              </h1>
              <ul id="brand-concept">
                <li>{frontmatter.brandConcept}</li>
                <li>{frontmatter.targetBrand}</li>
                <li>{frontmatter.inspiration}</li>
                <li>{frontmatter.audience}</li>
                <li>{frontmatter.mood}</li>
                <li>{frontmatter.colorChoices}</li>
                <li>{frontmatter.typographyReasoning}</li>
              </ul>

              <ul id="design-system" class="">
                <li>{frontmatter.designSystem}</li>
                <li>{frontmatter.layoutDecisions}</li>
                <li>{frontmatter.typographyPairings}</li>
                <li>{frontmatter.UIComponents}</li>
                <li>{frontmatter.palette}</li>
                <li>{frontmatter.spacingRules}</li>
              </ul>
            </div>
            <h2 class="font-bold">client: {frontmatter.client}</h2>
            <h2 class="font-bold">problem:{frontmatter.problem}</h2>
            <h2 class="font-bold">my approach:{frontmatter.myApproach}</h2>
            <h2 class="font-bold">
              Strategies Employed:{frontmatter.strategiesEmployed}
            </h2>
            <h2 class="font-bold">Results:{frontmatter.results}</h2>
            <h2 class="font-bold">Next Steps:{frontmatter.nextSteps}</h2>
            <h2 class="font-bold">Conclusion:{frontmatter.conclusion}</h2>

            <ul id="finished-website">
              <li>{frontmatter.finishedWebsite}</li>
              <li>{frontmatter.interactions}</li>
              <li>{frontmatter.mobileVersion}</li>
              <li>{frontmatter.landingPage}</li>
              <li>{frontmatter.components}</li>
            </ul>

            <div class="my-5 py-5 pt-2 opacity-80 text-lg">
              <div class="py-5 mt-5 bg-">
                <slot />
              </div>
              <!-- <Contact /> -->
              <BackBtn />
            </div>
          </div>
        </div>
        <Footer />
      </section>
    </div>
  </div>
</MainLayout>
